{% extends 'base/base_tables.html' %}
{% load bootstrap3 %}
{% load staticfiles %}


{% block titulo_block %} BloomIPS | Consultar evento adversp{% endblock %}

{% block title_content_block %}<strong>Consultar evento adverso</strong>{% endblock %}





{% block content_body_block %}

    <div class="row">
        <div class="col-md-12 ">
            <table id="example1" class="table table-bordered table-striped my_datatable">
                <thead>
                <tr>
                    <th style="text-align:justify" style="width: 5%">Implicado</th>
                    <th style="text-align:justify" style="width: 10%">Tipo de evento</th>
                    <th style="text-align:center" style="width: 2%">Fecha</th>
                    <th style="text-align:center" style="width: 30%">Lugar</th>
                    <th style="width: 30%">Descripción</th>
                    <th style="vertical-align: middle">Acciones</th>
                </tr>
                </thead>
                <tbody>

                {% for evento in eventos %}
                    <tr>
                        <td> {{ evento.implicado }}</td>

                        <td>
                            <ul>
                                {% for  tipos in evento.tipos_evento.all %}
                                    <li>  {{ tipos.nombre }} </li>

                                {% endfor %}
                            </ul>

                        </td>
                        <td style="text-align:center"> {{ evento.fecha_ocurrencia }}</td>
                        <td style="text-align:justify"> {{ evento.lugar }}</td>
                        <td style="text-align:justify">  {{ evento.descripcion }}</td>
                        <td>
                            <a href="{% url 'modificar_evento' evento.id %}"
                               class="btn-sm btn-block btn-primary" style="text-align: center"> Modificar </a>
{#                            <a href="{% url 'agregar_seguimiento' evento.id %}"#}
{#                               class="btn-sm btn-block bg-olive" style="text-align: center">Seguimiento </a>#}
{##}
                            {% if evento.protocolo_londres %}

                                <a href="{% url 'visualizar_protocolo' evento.id %}"
                                   class="btn-sm btn-block bg-olive" style="text-align: center">Protocolo </a>

                            {% else %}

                                <a href="{% url 'registrar_protocolo' evento.id %}"
                                   class="btn-sm btn-block bg-olive" style="text-align: center">Protocolo </a>
                            {% endif %}
                        </td>


                    </tr>
                {% endfor %}

                </tbody>
                <tfoot>
                <tr>
                    <th style="text-align:justify" style="width: 5%">Implicado</th>
                    <th style="text-align:justify" style="width: 10%">Tipo de evento</th>
                    <th style="text-align:center" style="width: 2%">Fecha</th>
                    <th style="text-align:center" style="width: 30%">Lugar</th>
                    <th style="width: 30%">Descripción</th>
                    <th style="vertical-align: middle" style="width: 10%">Acciones</th>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>

{% endblock %}
block
{% block js_block %}

    {{ block.super }}

    <script>
        $(function () {

        });
    </script>

{% endblock %}