{% extends 'base/base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block titulo_block %} BloomIPS | Modificar evento adverso{% endblock %}

{% block title_content_block %}<strong>Modificar evento adverso</strong>{% endblock %}

{% block css_block %}

    <!-- Select2 -->
    {{ form.media.css }}
    <!-- bootstrap datepicker -->
    <link rel="stylesheet"
          href="{% static 'bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css' %}">
    <!-- Bootstrap time Picker -->
    <link rel="stylesheet" href="{% static 'plugins/timepicker/bootstrap-timepicker.min.css' %}">


    <link rel="stylesheet" href="{% static 'css/css_personalizados.css' %}">
{% endblock %}

{% block content_body_block %}
    <form role="form" method="POST"> {% csrf_token %}
        <div class="box-body">
            <div class="form-group">

                <div class="row">
                    <div class="col-md-5 col-md-offset-1">
                        <h4>Implicado al evento</h4>
                    </div>
                    <div class="col-md-10 col-md-offset-1">
                        <hr/>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-5 col-md-offset-1">
                        {% bootstrap_field form.implicado layout="vertical" %}
                    </div>


                </div>

                <div class="row">
                    <div class="col-md-5 col-md-offset-1">
                        <h4>Momento de la ocurrencia</h4>
                    </div>
                    <div class="col-md-10 col-md-offset-1">
                        <hr/>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-5 col-md-offset-1">
                        <!-- time Picker -->
                        <div class="bootstrap-timepicker">

                            {% bootstrap_field form.hora layout="vertical" %}

                        </div>
                    </div>
                    <div class="col-md-5">
                        {% bootstrap_field form.fecha_ocurrencia layout="vertical" %}
                        <!--</div>-->
                    </div>
                </div>

                {#                <div class= "row">#}
                {#                    <div class="col-md-5 col-md-offset-1">#}
                {#                        {% bootstrap_field form_evento_adverso.fecha_reporte layout="vertical" %}#}
                {#                    </div>#}
                {##}
                {#                </div>#}

                <div class="row">
                    <div class="col-md-5 col-md-offset-1">
                        <h4>Información del evento</h4>
                    </div>
                    <div class="col-md-10 col-md-offset-1">
                        <hr/>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-5 col-md-offset-1">
                        {% bootstrap_field form.clase_evento layout="vertical" %}
                    </div>
                    <div class=" col-md-5">
                        {% bootstrap_field form.lugar layout="vertical" %}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-5 col-md-offset-1">
                        {% bootstrap_field form.tipos_evento layout="vertical" %}
                    </div>
                    <div class=" col-md-5 ">
                        {% bootstrap_field form.otro_tipo_evento layout="vertical" %}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        {% bootstrap_field form.causa layout="vertical" %}
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        {% bootstrap_field form.descripcion layout="vertical" %}
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        {% bootstrap_field form.acciones_realizadas layout="vertical" %}
                    </div>

                </div>

                <div class="box-footer">
                    <button type="button" class="btn btn-primary" data-target="#modal-default" onclick="setText()"
                    >Modificar</button>

                </div>


                <!-- Modal -->
                <div class="modal fade" id="modal-default">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title">Modificar evento adverso</h4>
                            </div>
                            <div class="modal-body">
                                <p id="info_mostrar"> &hellip;</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cerrar
                                </button>
                                <button type="submit" class="btn btn-primary" >Modificar</button>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>

            </div>
        </div>
    </form>
{% endblock %}


{% block js_block %}


    <!-- bootstrap datepicker -->
    <script src="{% static 'bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>
    <!-- bootstrap time picker -->
    <script src="{% static 'plugins/timepicker/bootstrap-timepicker.min.js' %}"></script>
    {{ form.media.js }}
    <script>
        //Date picker
        $('#id_fecha_ocurrencia').datepicker({
            format: "dd/mm/yyyy",
            autoclose: true
        })

        //Timepicker
        $('#id_hora').timepicker({
            showInputs: false,
            minuteStep: 1,
            secondStep: 1,
            showMeridian: false,
        })



        function setText() {
            //Información a mostrar
            {#document.getElementById("info_mostrar").innerHTML = "¿Está seguro que desea registrar el implicado?"#}
            document.getElementById("info_mostrar").innerHTML = "¿Está seguro que desea modificar el evento adverso?"

            $("#modal-default").modal('toggle');
        }



    </script>

{% endblock %}

{% block footer_content_block %}


{% endblock  %}


