{# -------------------------------EMPLEADO--------------------------------------------#}
<li class="treeview {% if 'empleado/modificar_empleado/' in request.path or 'empleado/agregar_empleado' in request.path or 'empleado/consultar_empleado' in request.path %} active {% else %} disabled {% endif %}">
    <a href="#">
        <i class="fa fa-user"></i> <span>Empleado</span>
        <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
        </span>
    </a>
    <ul class="treeview-menu">
        <li class="{% if 'empleado/agregar_empleado' in request.path %} active {% else %} disabled {% endif %}">
            <a href="{% url 'agregar_empleado' %}">
                <i class="fa fa-user-plus">
                </i> Agregar empleado </a>
        </li>
        <li class="{% if 'empleado/consultar_empleado' in request.path %} active {% else %} disabled {% endif %}">
            <a href="{% url 'consultar_empleado' %}">
                <i class="fa fa-users">
                </i> Consultar empleado </a>
        </li>
    </ul>
</li>


{# -------------------------------AREA--------------------------------------------#}
<li class="treeview {% if 'empleado/modificar_area/' in request.path or 'empleado/agregar_area' in request.path or 'empleado/consultar_area' in request.path %} active {% else %} disabled {% endif %}">
    <a href="#">
        <i class="fa  fa-circle"></i> <span>Area</span>
        <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
        </span>
    </a>
    <ul class="treeview-menu">
        <li class="{% if 'empleado/agregar_area' in request.path %} active {% else %} disabled {% endif %}">
            <a href="{% url 'agregar_area' %}">
                <i class="fa  fa-plus-square">
                </i> Agregar area </a>
        </li>
        <li class="{% if 'empleado/consultar_area' in request.path %} active {% else %} disabled {% endif %}">
            <a href="{% url 'consultar_area' %}">
                <i class="fa fa-th-large">
                </i> Consultar area </a>
        </li>
    </ul>
</li>


{# -------------------------------EPS--------------------------------------------#}
<li class="treeview {% if 'agregar_eps' in request.path or 'consultar_eps' in request.path or 'modificar_eps' in request.path %}
    active {% else %} disabled {% endif %}">
    <a href="#">
        <i class="fa fa-hospital-o"></i> <span>Eps</span>
        <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
        </span>
    </a>
    <ul class="treeview-menu">
        <li class="{% if 'agregar_eps' in request.path %} active {% else %} disabled {% endif %}">
            <a href="{% url 'agregar_eps' %}">
                <i class="fa fa-plus-square">
                </i> Agregar Eps</a>
        </li>
        <li class="{% if 'consultar_eps' in request.path %} active {% else %} disabled {% endif %}">
            <a href="{% url 'consultar_eps' %}">
                <i class="fa fa-table">
                </i> Consultar eps </a>
        </li>
    </ul>
</li>


{# -------------------------------EVENTO ADVERSO--------------------------------------------#}
<li class="treeview {% if 'evento_adverso/' in request.path or 'evento_adverso/agregar_implicado_evento' in request.path or 'evento_adverso/consultar_implicados_evento' in request.path %} active {% else %} disabled {% endif %}">
    <a href="#">
        <i class="fa fa-exclamation-circle"></i> <span>Evento adverso</span>
        <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
        </span>
    </a>
    <ul class="treeview-menu">
        <li class="{% if 'evento_adverso/agregar_implicado_evento' in request.path %} active {% else %} disabled {% endif %}">
            <a href="{% url 'agregar_implicado_evento_adverso' %}">
                <i class="fa fa-user-plus">
                </i> Agregar implicado</a>
        </li>

        <li class="{% if 'evento_adverso/consultar_implicados_evento' in request.path %} active {% else %} disabled {% endif %}">
            <a href="{% url 'consultar_implicados_evento_adverso' %}">
                <i class="fa fa-file-o">
                </i> Consultar implicado </a>
        </li>
    </ul>
</li>