{% extends 'base/base.html'%}
{% load bootstrap3 %}
{% load staticfiles %}

{% block titulo_block %} BloomIPS | Registro de antecedentes gestacionales {% endblock  %}

{% block title_content_block %}<strong>Registro de antecedentes gestacionales</strong>{% endblock %}

{% block css_block %}

    <!-- Select2 -->
    {{ form.media.css }}
    <link rel="stylesheet" href="{% static 'css/css_personalizados.css' %}">

{% endblock %}

{% block content_body_block %}
<form role="form" method="POST"> {% csrf_token %}
    <div class="box-body">
        <div class="form-group">

            <div class="row">
                <div class="col-md-5 col-md-offset-1">
                    {% bootstrap_field form.paciente layout="vertical" %}
                </div>
            </div>

            <div class="row">
                <div class="col-md-5 col-md-offset-1">
                    <h4> Embarazo </h4>
                </div>
                <div class="col-md-10 col-md-offset-1">
                    <hr/>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3 col-md-offset-1">
                    {% bootstrap_field form.planeado layout="vertical" %}
                </div>
                <div class="col-md-3">
                    {% bootstrap_field form.deseado layout="vertical" %}
                </div>
                <div class="col-md-3">
                    {% bootstrap_field form.controlado layout="vertical" %}
                </div>
            </div>

            <div class="row">
                <div class="col-md-5 col-md-offset-1">
                    {% bootstrap_field form.semanas_gestacion layout="vertical" %}
                </div>
            </div>

            <div class="row">
                <div class="col-md-5 col-md-offset-1">
                    {% bootstrap_field form.consumo_embarazo layout="vertical" %}
                </div>
                <div class="col-md-5">
                    {% bootstrap_field form.otro_consumo layout="vertical" %}
                </div>
            </div>

            <div class="row">
                <div class="col-md-5 col-md-offset-1">
                    <h4> Parto </h4>
                </div>
                <div class="col-md-10 col-md-offset-1">
                    <hr/>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3 col-md-offset-1">
                    {% bootstrap_field form.gemelar layout="vertical" %}
                </div>
                <div class="col-md-3">
                    {% bootstrap_field form.parto_termino layout="vertical" %}
                </div>
                <div class="col-md-3">
                    {% bootstrap_field form.parto_prematuro layout="vertical" %}
                </div>
            </div>

            <div class="row">
                <div class="col-md-3 col-md-offset-1">
                    {% bootstrap_field form.amenaza_aborto layout="vertical" %}
                </div>
                <div class="col-md-3">
                    {% bootstrap_field form.trabajo_parto_prolongado layout="vertical" %}
                </div>
                <div class="col-md-3">
                    {% bootstrap_field form.meconio layout="vertical" %}
                </div>
            </div>

            <div class="row">
                <div class="col-md-3 col-md-offset-1">
                    {% bootstrap_field form.diabetes layout="vertical" %}
                </div>
                <div class="col-md-3">
                    {% bootstrap_field form.placenta_previa layout="vertical" %}
                </div>
                <div class="col-md-3">
                    {% bootstrap_field form.circular_cordon layout="vertical" %}
                </div>
            </div>

            <div class="row">
                <div class="col-md-3 col-md-offset-1">
                    {% bootstrap_field form.torchs layout="vertical" %}
                </div>
                <div class="col-md-3">
                    {% bootstrap_field form.cesarea layout="vertical" %}
                </div>
                <div class="col-md-3">
                    {% bootstrap_field form.preeclamsia layout="vertical" %}
                </div>
            </div>

            <div class="row">
                <div class="col-md-3 col-md-offset-1">
                    {% bootstrap_field form.forceps layout="vertical" %}
                </div>
            </div>

            <div class="row">
                <div class="col-md-5 col-md-offset-1">
                    {% bootstrap_field form.otro_sintoma layout="vertical" %}
                </div>
            </div>

        </div>
    </div>
    <div class="box-footer">
        <button type="button" class="btn btn-primary" data-target="#modal-default" onclick="setText()"
                type="button">Guardar</button>
    </div>
     <!-- Modal -->
    <div class="modal fade" id="modal-default">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Registrar antecedentes gestacionales</h4>
                </div>
                <div class="modal-body" id="mostrar-alerta">
                    <p id="info_mostrar"> &hellip;</p>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-2 col-sm-2">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        </div>
                        <div class="col-md-6 col-md-offset-1 col-sm-6 col-sm-offset-1">
                            <button type="submit" name="save_and_records" value="1" class="btn btn-primary" onclick="cerrarModal()">Registrar y continuar con antecedentes personales</button>
                        </div>
                        <div class="col-md-2 col-sm-2 col-sm-offset-1">
                            <button type="submit" name="save" value="1" class="btn btn-primary" onclick="cerrarModal()">Registrar</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</form>
{% endblock %}

{% block js_block %}

    {{ form.media.js }}

    <script>

        $(document).ready(function(){

            $('#id_consumo_embarazo').on('select2:select', function(e){

                var selected_value = e.params.data;

                if(selected_value.text == "Otro"){
                    $('#id_otro_consumo').prop('readonly', false);
                }else {
                    $('#id_otro_consumo').prop('readonly', true);
                }
            });

            $('#id_consumo_embarazo').on('select2:unselect', function(e){

                var selected_value = e.params.data;

                if(selected_value.text == "Otro"){
                    $('#id_otro_consumo').prop('readonly', true);
                    $('#id_otro_consumo').val('');
                }
            });
        });

        function setText() {
            //Información a mostrar
            document.getElementById("info_mostrar").innerHTML = "¿Está seguro que desea registrar los antecedentes?"
            $("#modal-default").modal('toggle');
        }
        function cerrarModal() {
            $("#modal-default .close").click()
        }
    </script>

{% endblock %}

{% block footer_content_block %}


{% endblock  %}