{% extends 'base/base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block titulo_block %} BloomIPS | Citas{% endblock %}

{% block title_content_block %}<strong>Citas</strong>{% endblock %}

{% block css_block %}
    <link rel="stylesheet" href="{% static 'css/css_personalizados.css' %}">
    <!-- Select2 -->
    {{ form.media.css }}
    <link rel="stylesheet" href="{% static 'css/css_personalizados.css' %}">
{% endblock %}

{% block content_body_block %}
    <h1>Aquí irá el módulo de citas</h1>>
{% endblock %}

{% block footer_content_block %}
{% endblock %}

{% block js_block %}
    <script>
    </script>
{% endblock %}
