{% extends 'base/base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block titulo_block %} BloomIPS | Modificar empleado{% endblock %}

{% block title_content_block %}<strong>Modificar empleado</strong>{% endblock %}

{% block css_block %}

    <!-- Select2 -->
    {{ form.media.css }}
    <link rel="stylesheet" href="{% static 'css/css_personalizados.css' %}">

    <!-- Dropify -->
    <link rel="stylesheet" href="{% static 'dropify/css/dropify.css' %}">

    <!-- bootstrap datepicker -->
    <link rel="stylesheet"
          href="{% static 'bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css' %}">

    <style>

    </style>

{% endblock %}

{% block content_body_block %}
    <form role="form" method="POST" enctype="multipart/form-data"> {% csrf_token %}
        <div class="box-body">
            <div class="form-group">

                <div class="row">
                    <div class="col-md-5 col-md-offset-1">
                        <h4> Informacion personal</h4>
                    </div>
                    <div class="col-md-10 col-md-offset-1">
                        <hr/>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3 col-md-offset-1">
                        {% bootstrap_field form.imagen layout="vertical" %}
                    </div>
                    <div class="col-sm-5 col-md-offset-2">
                        {% bootstrap_field form.firma layout="vertical" %}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-5 col-md-offset-1">
                        {% bootstrap_field form.first_name layout="vertical" %}
                    </div>
                    <div class="col-md-5">
                        {% bootstrap_field form.last_name layout="vertical" %}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-5 col-md-offset-1">
                        {% bootstrap_field form.fecha_nacimiento layout="vertical" %}
                    </div>
                    <div class="col-md-5">
                        {% bootstrap_field form.direccion layout="vertical" %}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-5 col-md-offset-1">
                        {% bootstrap_field form.telefono layout="vertical" %}
                    </div>
                    <div class="col-md-5">
                        {% bootstrap_field form.celular layout="vertical" %}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-5 col-md-offset-1">
                        {% bootstrap_field form.cargo layout="vertical" %}
                    </div>
                    <div class="col-md-5">
                        {% bootstrap_field form.area layout="vertical" %}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-5 col-md-offset-1">
                        {% bootstrap_field form.email layout="vertical" %}
                    </div>
                    <div class="col-md-5">
                        {% bootstrap_field form.is_active layout="vertical" %}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-5 col-md-offset-1">
                        <h4> Información de inicio de sesion</h4>
                    </div>
                    <div class="col-md-10 col-md-offset-1">
                        <hr/>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-5 col-md-offset-1">
                        {% bootstrap_field form.username layout="vertical" %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5 col-md-offset-1">
                        {% bootstrap_field form.password1 layout="vertical" %}
                    </div>
                    <div class="col-md-5">
                        {% bootstrap_field form.password2 layout="vertical" %}
                    </div>
                </div>
            </div>
        </div>

        <div class="box-footer">
            <button type="button" class="btn btn-primary" data-target="#modal-default" onclick="setText()"
            >Modificar
            </button>
        </div>


        <!-- Modal -->
        <div class="modal fade" id="modal-default">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Modificar empleado</h4>
                    </div>
                    <div class="modal-body" id="mostrar-alerta">
                        <p id="info_mostrar"> &hellip;</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-primary" onclick="cerrarModal()">Modificar</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>

    </form>
{% endblock %}


{% block js_block %}
    {{ form.media.js }}

    <!-- Dropify -->
    <script src="{% static 'dropify/js/dropify.js' %}"></script>
    <!-- bootstrap datepicker -->
    <script src="{% static 'bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>

    <script>
        var opciones = [];

        $("#id_cargo").change(function () {
            $("#id_area").empty()
            if ($("#id_cargo").val() == 'Terapeuta') {
                for (i = 0; i < opciones.length; i++) {
                    if (opciones[i].texto != 'Administrativa') {
                        var newOption = new Option(opciones[i].texto, opciones[i].valor, false, false);
                        $('#id_area').append(newOption).trigger('change');
                        $("#id_area").prop('disabled', false);
                    }
                }
            } else {
                for (i = 0; i < opciones.length; i++) {
                    if (opciones[i].texto == 'Administrativa') {
                        var newOption = new Option(opciones[i].texto, opciones[i].valor, true, true);
                        $('#id_area').append(newOption).trigger('change');
                    }
                }
            }
        });

        function setText() {
            //Información a mostrar
            document.getElementById("info_mostrar").innerHTML = "¿Está seguro que desea modificar el empleado?"
            $("#modal-default").modal('toggle');
        }

        function cerrarModal() {
            $("#modal-default .close").click()
        }


        //Js del dropify
        $(document).ready(function () {
            $dropify = $('#id_imagen').dropify({
                    defaultFile: '{% static 'logos/default-image.png' %}'
                }
            );
            $dropify = $('#id_firma').dropify({
                    defaultFile: '{% static 'logos/default-firm.png' %}'
                }
            );
            $('#id_fecha_nacimiento').datepicker({
                format: "dd/mm/yyyy",
                autoclose: true
            })

            $("#id_area option").each(function () {
                var dupla = {texto: $(this).text(), valor: $(this).val()};
                opciones.push(dupla);
            });

            if ($("#id_area option:selected").text() == 'Administrativa') {
                $("#id_area option").each(function () {
                    if ($(this).text() != 'Administrativa') {
                        $(this).remove()
                    }
                });
            } else {
                //$("#id_area").empty()
                $("#id_area option").each(function () {
                    if ($(this).text() == 'Administrativa') {
                        $(this).remove()
                    }
                });
            }

        });

    </script>
{% endblock %}

{% block footer_content_block %}


{% endblock %}
