{% extends 'base/base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block titulo_block %} BloomIPS | Consultar informe mensual{% endblock %}

{% block css_block %}

    <link rel="stylesheet" href="{% static 'bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css' %}">

{% endblock %}

{% block title_content_block %}<strong>Consultar informe mensual</strong>{% endblock %}

{% block content_body_block %}

    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="table-responsive">
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>Escrito por</th>
                        <th>Paciente</th>
                        <th>Fecha</th>
                        <th>Hora</th>
                        <th>Descripción</th>
                        <th>Modificar</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for resumen in resumenes %}
                        <tr>
                            <td> {{ resumen.empleado }}</td>
                            <td> {{ resumen.paciente }}</td>
                            <td> {{ resumen.fecha }}</td>
                            <td> {{ resumen.hora }}</td>
                            <td style="text-align:justify"> {{ resumen.descripcion }}</td>
                            <td style="text-align:center">
                                {% if resumen.revisado == False %}
                                    <a href="{% url 'modificar_resumen' resumen.id %}"
                                    class="btn btn-block btn-primary">Modificar</a>
                                {% else %}
                                    REVISADO
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}

                    </tbody>
                    <tfoot>
                    <tr>
                        <th>Escrito por</th>
                        <th>Paciente</th>
                        <th>Fecha</th>
                        <th>Hora</th>
                        <th>Descripción</th>
                        <th>Modificar</th>
                    </tr>
                    </tfoot>
                </table>
            </div>

        </div>
    </div>

{% endblock %}

{% block js_block %}

    <!-- DataTables -->
    <script src="{% static 'bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>

    <script>
        $(function () {
            $('#example1').DataTable()

        })
    </script>

{% endblock %}