{% extends 'base/base_tables.html' %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block titulo_block %} BloomIPS | Consultar pacientes con informe mensual por área {% endblock %}

{% block css_block %}
    {{ form.media.css }}
    <!-- daterange picker -->
    <link rel="stylesheet" href="{% static 'bower_components/bootstrap-daterangepicker/daterangepicker.css' %}">
    <link rel="stylesheet"
          href="{% static 'bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.css' %}">
    {{ block.super }}

{% endblock %}

{% block title_content_block %}<strong>Consultar pacientes con informe mensual por área </strong>{% endblock %}

{% block content_body_block %}
    <div class="row">
        <div class="box-body">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4 col-md-offset-1">
                        <div class="form-group">
                            <label>Seleccione rango de Fechas:</label>

                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text" class="form-control pull-right" id="rango_fecha">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        {% bootstrap_field form.areas layout="vertical" %}
                    </div>
                    <div class="col-md-2">
                        <button type="button" style="margin: 25px 0px;" class="btn btn-info" id="btn-buscar"
                                onclick="obtener_pacientes_informe();">Buscar
                        </button>
                    </div>

                </div>

            </div>
        </div>
        <div class="col-md-10 col-md-offset-1 div_table">
            <div class="table-responsive">
                <table id="tabla_pacientes_resumen" class="table table-bordered table-striped my_datatable">
                    <thead>
                    <tr>
                        <th style="width: 30% !important">Paciente</th>
                        <th style="width: 20% !important">Área</th>
                        <th style="width: 30% !important">Terapeuta</th>
                        <th style="text-align: center; width: 20% !important">Informe Mensual</th>
                    </tr>
                    </thead>
                    <tbody id="table_body">

                    </tbody>
                    <tfoot>
                    <tr>
                        <th style="width: 30% !important">Paciente</th>
                        <th style="width: 20% !important">Área</th>
                        <th style="width: 30% !important">Terapeuta</th>
                        <th style="text-align: center; width: 20% !important">Informe Mensual</th>
                    </tr>
                    </tfoot>
                </table>
            </div>

        </div>
    </div>

{% endblock %}

{% block js_block %}
    {{ form.media.js }}
    <!-- date-range-picker -->
    <script src="{% static 'bower_components/moment/min/moment-with-locales.min.js' %}"></script>
    <script src="{% static 'bower_components/bootstrap-daterangepicker/daterangepicker.js' %}"></script>
    <!-- bootstrap datepicker -->
    <script src="{% static 'bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>
    {{ block.super }}
    <script src="{% static 'bower_components/bootstrap-datepicker/js/locales/bootstrap-datepicker.es.js' %}"
            charset="UTF-8"></script>
    <script>

        //Date range picker
        $("#tabla_pacientes_resumen").DataTable({
            dom: 'lBfrtip',
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json"
            },
            buttons: [
                {
                    extend: 'colvis',
                    className: 'btn-sm btn-primary custom_white_letters',
                    text: 'Columnas visibles',
                }
            ],
        });

        $('#rango_fecha').datepicker({
            format: "mm-yyyy",
            viewMode: "months",
            minViewMode: "months",
            autoclose: true,
            endDate: new Date(),
            language: "es"
        });

        function obtener_pacientes_informe() {
            var area = $('#id_areas').val();
            var fecha = $('#rango_fecha').val();

            $.ajax({
                url: "{% url 'consultar_informe_area_ajax' %}",
                data: {'area': area, 'fecha': fecha},
                dataType: 'json',
                success: function (backend_data) {
                    if (backend_data.status) {
                        tabla = $("#tabla_pacientes_resumen").DataTable();
                        tabla.clear().draw();
                        var info_con_resumen = backend_data.info_con_resumen;
                        $.each(info_con_resumen, function (index, resumen) {
                            tabla.row.add([
                                resumen.paciente,
                                resumen.area,
                                resumen.terapeuta,
                                "<div style='text-align: center; width: 100%'>" +
                                "<div class='btn-group'>" +
                                "<button type='button' class='btn btn-success btn-xs'>Si</button>" +
                                "<button type='button' class='btn btn-success btn-xs dropdown-toggle' data-toggle='dropdown'>" +
                                "<span class='caret'></span>" +
                                "<span class='sr-only'>Toggle Dropdown</span>" +
                                "</button>" +
                                "<ul class='dropdown-menu' role='menu'>" +
                                "<li><a href='/empleado/ver_resumen/" + resumen.resumen_id + "' target='blank'>Ver</a></li>" +
                                "<li><a href='/empleado/modificar_resumen/" + resumen.resumen_id + "' target='blank'>Modificar</a></li>" +
                                "<li><a href='/empleado/generar_pdf_informe_mensual/" + resumen.resumen_id + "' >Generar PDF</a></li>" +
                                "</ul>" +
                                "</div>" +
                                "</div>"
                            ]).draw();
                        });

                        var info_sin_resumen = backend_data.info_sin_resumen;
                        $.each(info_sin_resumen, function (index, resumen) {
                            var paciente = resumen.paciente.split(" - ");
                            var terapeuta = resumen.terapeuta.split(" - ");
                            tabla.row.add([
                                resumen.paciente,
                                resumen.area,
                                resumen.terapeuta,
                                "<div style='text-align: center; width: 100%'>" +
                                "<div class='btn-group'>" +
                                "<button type='button' class='btn btn-danger btn-xs'>No</button>" +
                                "<button type='button' class='btn btn-danger btn-xs dropdown-toggle' data-toggle='dropdown'>" +
                                "<span class='caret'></span>" +
                                "<span class='sr-only'>Toggle Dropdown</span>" +
                                "</button>" +
                                "<ul class='dropdown-menu' role='menu'>" +
                                "<li><a href='/empleado/agregar_resumen_especifico/" + paciente[0] + "/" + resumen.area + "/" + terapeuta[0] + "/" + fecha + "' target='blank'>Agregar</a></li>" +
                                "</ul>" +
                                "</div>" +
                                "</div>"
                            ]).draw();
                        });
                    }
                    else {
                        mensaje_toastr('error', 'Seleccione una fecha y área válidos.')
                    }
                },
                error: function (backend_data) {
                    mensaje_toastr('error', 'Ocurrió un error en el servidor. Por favor, intente de nuevo.')
                }
            });
        }
    </script>

{% endblock %}

{% block footer_content_block %}
{% endblock %}
