{% extends 'base/base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block titulo_block %} BloomIPS | Registro de pacientes {% endblock %}

{% block title_content_block %}<strong>Registro de pacientes</strong>{% endblock %}

{% block css_block %}

    <!-- Select2 -->
    {{ form.media.css }}
    <link rel="stylesheet" href="{% static 'css/css_personalizados.css' %}">

{% endblock %}

{% block content_body_block %}
    <form role="form" method="POST" enctype="multipart/form-data"> {% csrf_token %}
        <div class="box-body">
            <div class="form-group">

                <div class="row">
                    <div class="col-md-5 col-md-offset-1">
                        {% bootstrap_field form.tipo_paciente layout="vertical" %}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-5 col-md-offset-1">
                        <h4> Información personal</h4>
                    </div>
                    <div class="col-md-10 col-md-offset-1">
                        <hr/>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-5 col-md-offset-1">
                        {% bootstrap_field form.tipo_identificacion layout="vertical" %}
                    </div>
                    <div class="col-md-5">
                        {% bootstrap_field form.identificacion layout="vertical" %}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-5 col-md-offset-1">
                        {% bootstrap_field form.nombre layout="vertical" %}
                    </div>
                    <div class="col-md-5">
                        {% bootstrap_field form.apellido layout="vertical" %}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-5 col-md-offset-1">
                        {% bootstrap_field form.fecha_nacimiento layout="vertical" %}
                    </div>
                    <div class="col-md-5">
                        {% bootstrap_field form.lugar_nacimiento layout="vertical" %}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-5 col-md-offset-1">
                        {% bootstrap_field form.ciudad_residencia layout="vertical" %}
                    </div>
                    <div class="col-md-5">
                        {% bootstrap_field form.direccion layout="vertical" %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5 col-md-offset-1">
                        {% bootstrap_field form.barrio layout="vertical" %}
                    </div>
                    <div class="col-md-5">
                        {% bootstrap_field form.estrato layout="vertical" %}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-5 col-md-offset-1">
                        {% bootstrap_field form.telefono layout="vertical" %}
                    </div>
                    <div class="col-md-5">
                        {% bootstrap_field form.celular layout="vertical" %}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-5 col-md-offset-1">
                        {% bootstrap_field form.genero layout="vertical" %}
                    </div>
                    <div class="col-md-5">
                        {% bootstrap_field form.escolaridad layout="vertical" %}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-5 col-md-offset-1">
                        {% bootstrap_field form.email layout="vertical" %}
                    </div>
                    <div class="col-md-5 adult">
                        {% bootstrap_field form.ocupacion layout="vertical" %}
                    </div>
                    <div class="col-md-5 infant">
                        {% bootstrap_field form.nombre_responsable layout="vertical" %}
                    </div>
                </div>

                <div class="row">

                    <div class="col-md-5 col-md-offset-1 infant">
                        {% bootstrap_field form.parentesco_responsable layout="vertical" %}
                    </div>
                    <div class="col-md-5  infant">
                        {% bootstrap_field form.telefono_responsable layout="vertical" %}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-5 col-md-offset-1">
                        <h4> Informacion clínica</h4>
                    </div>
                    <div class="col-md-10 col-md-offset-1">
                        <hr/>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-5 col-md-offset-1">
                        {% bootstrap_field form.eps layout="vertical" %}
                    </div>
                    <div class="col-md-5">
                        {% bootstrap_field form.ips_atencion layout="vertical" %}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-5 col-md-offset-1">
                        {% bootstrap_field form.remitente layout="vertical" %}
                    </div>
                    <div class="col-md-5">
                        {% bootstrap_field form.diagnosticador layout="vertical" %}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        {% bootstrap_field form.motivo_consulta layout="vertical" %}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-5 col-md-offset-1">
                        {% bootstrap_field form.enfermedad_actual layout="vertical" %}
                            <ul class="form-text text-muted">
                                <li>Diagnóstico actual como registra en la autorización de la EPS</li>
                                <li>Agregue otros diagnósticos en estudio</li>
                            </ul>

                    </div>
                    <div class="col-md-5">
                        <div class="row">
                            <div class="col-md-8">
                                <input class="form-control" id="codigo_palabra_cie10" style="margin: 25px 0px;"
                                       placeholder="Ingrese CIE10 a buscar">
                            </div>

                            <div class="col-sm-2 md-1">
                                <button type="button" style="margin: 25px 0px;" class="btn btn-info" id="btn-buscar"
                                        onclick="Paciente.buscar_cie10();">Buscar
                                </button>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                {% bootstrap_field form.diagnosticos_cie10 layout="vertical" %}
                            </div>


                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-5 col-md-offset-1">
                        {% bootstrap_field form.tiempo_evolucion layout="vertical" %}
                    </div>
                    <div class="col-md-5">
                        {% bootstrap_field form.evaluacion_inicial layout="vertical" %}
                    </div>
                </div>
            </div>
        </div>
        <div class="box-footer">
            <button type="button" class="btn btn-primary" data-target="#modal-default" onclick="setText()">
                Guardar
            </button>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="modal-default">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Guardar paciente</h4>
                    </div>
                    <div class="modal-body" id="mostrar-alerta">
                        <p id="info_mostrar"> &hellip;</p>
                    </div>
                    <div class="modal-footer">
                        <div class="row">
                            <div class="col-md-2 col-sm-2">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                            </div>
                            <div class="col-md-5 col-md-offset-2 col-sm-5 col-sm-offset-2">
                                <button type="submit" name="save_and_records" value="1" class="btn btn-primary"
                                        onclick="cerrarModal()">Registrar y continuar con antecedentes
                                </button>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <button type="submit" name="save" value="1" class="btn btn-primary" onclick="cerrarModal()">
                                Registrar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
    </form>
{% endblock %}

{% block js_block %}

    {{ form.media.js }}

    <script>
        $(document).ready(function () {
            $(".adult").hide();
            $(".infant").hide();
            Paciente.init();

        });

        function setText() {
            //Información a mostrar
            document.getElementById("info_mostrar").innerHTML = "¿Está seguro que desea registrar el paciente?"
            $("#modal-default").modal('toggle');
        }

        function cerrarModal() {
            $("#modal-default .close").click()
        }

    </script>
{% endblock %}

{% block footer_content_block %}


{% endblock %}
